<!DOCTYPE html>
<html>
  <head>
    <title>Velzy time!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hiya. Welcome to Velzy.</h1>
    <ul>

    </ul>
  </body>
</html>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
